@import './colors';
@import './responsive';

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

ul li {
    list-style-type: none;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    width: 100%;
}