@import './responsive';
@import './colors';
@import './reset';

.container {
    max-width: 1440px;
    padding: 0 60px;
    margin: 0 auto;

    @include tablet {
        padding: 0 40px;
    }

    @include mobileLarge {
        padding: 0 20px;
    }
}

.btn {
    outline: none;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
}

.primary-btn {
    background-color: $orange;
    color: $white;
}

.secondary-btn {
    background-color: $white;
    color: $orange;
}

main {
    width: calc(100vw - 320px);
    margin-left: 320px;
    padding: 50px;
}