@import './responsive';
@import './colors';
@import './reset';

.container {
    max-width: 1440px;
    padding: 0 60px;
    margin: 0 auto;

    @include tablet {
        padding: 0 40px;
    }

    @include mobileLarge {
        padding: 0 20px;
    }
}