@import '../../styles/colors';
@import '../../styles/responsive';

.dashboard-container {
    .dashboard-wrapper {
        .aside-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 50px;
            background: $orange;

            @include mobileLarge {
                padding: 20px;

                .greetings {
                    font-size: 16px;
                }

                .message {
                    font-size: 12px;
                     max-width: 210px;
                }
            }
        }

        .logout-btn {
            background: $black;
            color: $white;
        }
    }
}