@import '../../../styles/colors';
@import '../../../styles/responsive';

.task-form {
    margin-top: 50px;
    display: flex;

    @include mobileLarge {
        margin-top: 30px;
    }

    &.sub-task-form {
        margin-top: 20px;

        .task-input {
            font-size: 14px;
            padding: 10px 12px;
        }
        .task-btn {
            font-size: 14px;

            @include mobileLarge {
                min-width: 100px;
                font-size: 16px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .task-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        padding: 20px 24px;
    }

    .task-btn {
        min-width: 200px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: 0 4px 10px rgba(0,0,0,.04), 0 1px 1px rgba(0,0,0,.04);
        font-size: 20px;
        font-weight: 400;
        border: 1px solid $orange;
    }
}